---
import Layout from "../../layouts/RootLayout.astro";

import Goto from "../../components/button/goto.astro";
---

<Layout title="About">
  <div
    class="flex flex-col items-start justify-center p-4 gap-6"
    transition:animate="fade"
  >
    <img
      class="h-52 w-auto rounded-full"
      src="/hero.svg"
      alt="developer image"
    />
    <h1 class="text-7xl font-bold">ABOUT</h1>
    <h3 class="text-xl">
      I'm, a self-taught full-stack developer on a mission to create impactful
      digital solutions. Through self-guided learning and hands-on experience,
      I've honed my skills in both front-end and back-end development.
      Passionate about innovation and problem-solving, I thrive on challenges
      and love turning ideas into functional code. Let's collaborate and build
      something awesome together!
    </h3>

    <Goto title="Home" href="/" />
  </div>
</Layout>
