@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	overflow: overlay;
	user-select: none;
	scroll-behavior: smooth;
}

.blue {
	background-color: #1876b4;
}

.text-blue {
	color: #1876b4;
}
.text-blue-hero {
	color: #1876b4;
}

:root::-ms-scrollbar {
	background: white;
	width: 0s;
}
:root::scrollbar {
	background: white;
	width: 0;
}
:root::-webkit-scrollbar {
	background: white;
	width: 0;
}

@media (prefers-color-scheme: dark) {
	:root::-ms-scrollbar {
		background: black;
		width: 0;
	}
	:root::scrollbar {
		background: black;
		width: 0;
	}
	:root::-webkit-scrollbar {
		background: black;
		width: 0;
	}
}
:root::-webkit-scrollbar-thumb {
	background: #1876b4;
}
:root::-ms-scrollbar-thumb {
	background: #1876b4;
}
:root::scrollbar-thumb {
	background: #1876b4;
}

.xscreen {
	height: 100dvh;
	height: 100vh;
}
.fscreen {
	height: 100dvh;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

section {
	scroll-snap-align: center;
	scroll-snap-type: y mandatory;
}
#exw:hover::after {
	content: '';
	position: absolute;
	top: -40%;
	rotate: 5deg;
	right: -128%;
	width: 124%;
	height: 180%;
	background-color: white;
}

#exw::after {
	right: -3%;
	z-index: -1;
	content: '';
	position: absolute;
	top: -40%;
	rotate: 5deg;
	width: 124%;
	height: 180%;
	background-color: white;
	transition: all 150ms ease-in-out;
}

#exw {
	font-family: Raleway;
	text-transform: capitalize;
}

.typeeffect h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

@layer utilities {
	.mybgdark {
		background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><defs><filter id="blur1" x="-10%" y="-10%" width="120%" height="120%"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feGaussianBlur stdDeviation="163" result="effect1_foregroundBlur"></feGaussianBlur></filter></defs><rect width="960" height="540" fill="%23082030"></rect><g filter="url(%23blur1)"><circle cx="808" cy="519" fill="%231876b4" r="363"></circle><circle cx="755" cy="26" fill="%23082030" r="363"></circle><circle cx="951" cy="383" fill="%231876b4" r="363"></circle><circle cx="221" cy="40" fill="%231876b4" r="363"></circle><circle cx="309" cy="493" fill="%23082030" r="363"></circle><circle cx="351" cy="285" fill="%231876b4" r="363"></circle></g></svg>');
	}

	.mybglight {
		background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><defs><filter id="blur1" x="-10%" y="-10%" width="120%" height="120%"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feGaussianBlur stdDeviation="163" result="effect1_foregroundBlur"></feGaussianBlur></filter></defs><rect width="960" height="540" fill="%237cbde8"></rect><g filter="url(%23blur1)"><circle cx="659" cy="177" fill="%231876b4" r="363"></circle><circle cx="301" cy="230" fill="%237cbde8" r="363"></circle><circle cx="543" cy="35" fill="%231876b4" r="363"></circle><circle cx="874" cy="263" fill="%231876b4" r="363"></circle><circle cx="719" cy="465" fill="%237cbde8" r="363"></circle><circle cx="531" cy="391" fill="%231876b4" r="363"></circle></g></svg>');
	}
}
