---
import Layout from "../../layouts/layoutBase.astro";
import JSON from "../../jsons/blogs.json";
import { Icon } from "astro-icon/components";
const { id } = Astro.params;
const items = await JSON.filter((el) => el.id === id)[0];
---

<Layout title="Latest">
  <div class="flex z-10 h-full flex-grow flex-col gap-4 pt-10 pb-4 px-4">
    <a
      href="/blog"
      class="text-black bg-white rounded-full w-fit p-1 text-3xl font-bold"
      ><Icon name={"back"} /></a
    >
    <h3
      class="text-6xl font-bold underline-offset-8 underline"
      transition:name={items.id}
      transition:animate="fade"
    >
      {items.title}
    </h3>
    <h3 class="text-xl flex-grow">{items.body}</h3>
    <h3 class="text-sm font-semibold underline underline-offset-4">
      {items.date}
    </h3>
  </div>
</Layout>
