---
import Goto from "../components/button/goto.astro";
import Layout from "../layouts/RootLayout.astro";
---

<Layout title="Kumar Arun">
  <div
    class="flex flex-col grow items-start justify-center p-4 gap-6"
    transition:animate="fade"
  >
    <img
      class="h-52 w-auto rounded-full"
      src="/hero.svg"
      alt="developer image"
    />
    <h1 class="text-4xl sm:text-7xl font-bold uppercase">Kumar Arun</h1>
    <h2 class="text-base sm:text-xl">
      Self-taught Full Stack Developer, School-taught Mathematician
    </h2>

    <Goto title="Who is Arun ?" href="/about" />
  </div>
</Layout>
