---
import Layout from "../layouts/RootLayout.astro";
---

<Layout title="Kumar Arun">
  <div
    class="flex flex-col grow items-start justify-center p-4 pl-8 sm:pl-4 gap-6"
  >
    <img
      class="h-52 w-auto rounded-full"
      src="/hero.svg"
      alt="developer image"
    />
    <h1 class="text-4xl sm:text-7xl font-bold uppercase">Kumar Arun</h1>
    <h2 class="text-base sm:text-xl">
      Self-taught Full Stack Developer, School-taught Mathematician
    </h2>

    <h2 class="text-base sm:text-xl">
      I'm, a self-taught full-stack developer on a mission to create impactful
      digital solutions. Through self-guided learning and hands-on experience,
      I've honed my skills in both front-end and back-end development.
      Passionate about innovation and problem-solving, I thrive on challenges
      and love turning ideas into functional code. Let's collaborate and build
      something awesome together!
    </h2>
  </div>
</Layout>
