---
import Layout from "../layouts/layoutBase.astro";
---

<Layout title="Kumar Arun">
  <div
    id="hero"
    class="pl-16 gap-4 flex-grow py-2 flex flex-col justify-center"
  >
    <h1 class="text-9xl">Kumar Arun</h1>
    <h2 class="text-4xl">
      Self-taught Full Stack Developer, School-taught Mathematician
    </h2>
  </div>
</Layout>
