---
interface Props {
  title: string;
}
import Layout from "./layoutBase.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col h-full flex-grow items-center w-full">
    <main class="w-full h-full flex flex-col p-4 flex-grow">
      <slot />
    </main>
  </div>
</Layout>
